.git
.next
node_modules
.pnpm-store

.DS_Store
*.log
*.tar
*.tar.gz
*.zip
*.dump
*.gz

tmp
backups
conductor

iboran-deploy.part.*
iboran_data.gz
migrate-package.tar.gz
missing_*.txt
all_posts_*.txt
post_trace.txt
pdf_content.txt
search_results.txt

playwright-report
test-results
coverage
